/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  background: #fff;
}

/* prettier-ignore */
h1, h2, h3, h4 {
  font-family: "Playfair Display", serif;
}

/* prettier-ignore */
p, a, ul, li {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --background: 0 0% 100%;
    --background-alt: 0 0% 100%;
    --foreground: 0 0% 9%;
    --foreground-alt: 0 0% 32%;
    --muted: 240 5% 96%;
    --muted-foreground: 0 0% 9% / 0.4;
    --border: 240 6% 10%;
    --border-input: 240 6% 10% / 0.17;
    --border-input-hover: 240 6% 10% / 0.4;
    --border-card: 240 6% 10% / 0.1;
    --dark: 240 6% 10%;
    --dark-10: 240 6% 10% / 0.1;
    --dark-40: 240 6% 10% / 0.4;
    --dark-04: 240 6% 10% / 0.04;
    --accent: 204 94% 94%;
    --accent-foreground: 204 80% 16%;
    --destructive: 347 77% 50%;
    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d1d5db;
    --color-gray-400: #9ca3af;
    --color-gray-500: #6b7280;
    --color-gray-600: #4b5563;
    --color-gray-700: #374151;
    --color-gray-800: #1f2937;
    --color-gray-900: #111827;

    /* black */
    --constrast: 0 0% 0%;

    /* Shadows */
    --shadow-mini: 0px 1px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-mini-inset: 0px 1px 0px 0px rgba(0, 0, 0, 0.04) inset;
    --shadow-popover: 0px 7px 12px 3px hsla(var(--dark-10));
    --shadow-kbd: 0px 2px 0px 0px rgba(0, 0, 0, 0.07);
    --shadow-btn: 0px 1px 0px 1px rgba(0, 0, 0, 0.03);
    --shadow-card: 0px 2px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-date-field-focus: 0px 0px 0px 3px rgba(24, 24, 27, 0.17);
  }
  
  body {
    @apply min-h-screen flex flex-col md:flex-row;
  }
}
